# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# --- Virtual environments ---
venv/
.env/
.venv/

# --- Jupyter Notebook checkpoints ---
.ipynb_checkpoints/


# --- Model checkpoints ---
*.ckpt
*.pth
*.pt
*.onnx
models/

# --- OS specific files ---
.DS_Store
Thumbs.db

# --- VSCode ---
.vscode/
